.header {
    position: relative;
    top: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.left {
    width: 40px;
}

.center {
    flex: 1;
    text-align: center;
}

.right {
    width: 40px;
}